<section class="c-hero">
    <div class="c-hero__grid">
        <div class="c-hero__grid__content">
            <h1 class="c-hero__grid__content__heading">{{ .heading }}</h1>
            <h2 class="c-hero__grid__content__subtitle">{{ .subtitle }}</h2>
            <div class="c-hero__grid__content__links">
                <a class="c-hero__grid__content__links__link" href="#portfolio">Portfolio</a>
                <a class="c-hero__grid__content__links__link" href="#skills">Skills</a>
                <a class="c-hero__grid__content__links__link" href="#about-me">About Me</a>
                <a class="c-hero__grid__content__links__link" href="#contact">Contact</a>
            </div>
        </div>
        <img class="c-hero__grid__image" src="/images/me-turtle.jpg" alt="Alysha Jo Nolan profile photo">
    </div>
</section>