.c-contact {
    background-color: #121212;
    display: grid;
    grid-template-columns: minmax(24px, 1fr) minmax(auto, 1280px) minmax(24px, 1fr);
    color: #afafaf;
    gap: 24px;
    padding: 96px 0px;
    justify-items: center;

    &__heading {
        grid-column: 2;
        margin: 1rem 0;
        letter-spacing: 2px;
        color: #fff;
        --light-shine: #99F5F5;
        --dark-shine: #65d4f0;
        animation: shine 2s forwards, flicker 3s infinite;
    }

    &__form {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;

        @media screen and (min-width: 1024px) {
            width: 70%;
        }

        &__input-group {
            display: flex;
            flex-direction: column;
            gap: 16px;

            &__input {
                padding: 12px;
                border-radius: 10px;
                box-shadow: 0 0 5px #65d4f0, 0 0 15px #fff;
                border: none;

                &:focus {
                    outline: 3px solid #65d4f0;
                }

                &--textarea {
                    resize: vertical;
                    height: 100px;
                }
            }
        }

        &__button {
            width: fit-content;
            align-self: center;
            padding: 12px 24px;
            border-radius: 10px;
            cursor: pointer;
            color: #afafaf;
            border: 1px solid #afafaf;
            background-color: transparent;
            position: relative;
            transition: all .35s;
            z-index: 0;
            
            &:after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: #65d4f0;
                transition: all .35s;
                z-index: -1;
                border-radius: 10px;
            }
    
            &:hover{
                color: #1b1b1b;
            }
              
            &:hover:after{
                width: 100%;
            }
        }
    }
}