<div class="c-contact">
    <h2 class="c-contact__heading" id="{{ .heading | urlize }}">{{ .heading }}</h2>
    <form class="c-contact__form">
        <div class="c-contact__form__input-group">
            <label class="c-contact__form__input-group__label" for="name">Name <span class="c-contact__form__input-group__label__required">*</span></label>
            <input class="c-contact__form__input-group__input" type="text" name="name" id="name" required>
        </div>
        <div class="c-contact__form__input-group">
            <label class="c-contact__form__input-group__label" for="email">Email Address <span class="c-contact__form__input-group__label__required">*</span></label>
            <input class="c-contact__form__input-group__input" type="text" name="email" id="email" required>
        </div>
        <div class="c-contact__form__input-group">
            <label class="c-contact__form__input-group__label" for="enquiry">Enquiry <span class="c-contact__form__input-group__label__required">*</span></label>
            <textarea class="c-contact__form__input-group__input c-contact__form__input-group__input--textarea" rows="7" required name="enquiry" id="enquiry"></textarea>
        </div>
        <button class="c-contact__form__button" type="submit">Submit</button>
    </form>
</div>