<div class="c-modal" x-trap.noscroll.noautofocus="showModal">
    <div class="c-modal__modal" @click.outside="showModal = false">
        {{ range ( where site.RegularPages "Section" "projects" ) }}
            <div class="c-modal__modal__content" x-data="{contentFor: '{{ .Path }}'}" x-show="page == contentFor">
                <div class="c-modal__modal__content__hero">
                    <h4 class="c-modal__modal__content__hero__heading">{{ .Title }}</h4>
                    <div class="c-modal__modal__content__hero__links">
                        <div class="c-modal__modal__content__hero__links__badges">
                            {{ range .Params.technologies }}
                                {{ partial "bookshop" (slice "generic/technology-badge" (dict "text" .text "link" .link "linkable" true)) }}
                            {{ end }}
                        </div>
                        <div class="c-modal__modal__content__hero__links__project">
                            <a href="{{ .Params.live_site }}">Live site</a>
                            {{ if .Params.github }}<a href="{{ .Params.github }}">GitHub</a>{{ end }}
                        </div>
                    </div>
                    {{ if .Params.wip }}<span>Work In Progress</span>{{ end }}
                    <img class="c-modal__modal__content__hero__image" src="{{ .Params.image }}" alt="Capture of the project">
                </div>
                <div class="c-modal__modal__content__text">
                    {{ .Content }}
                </div>
            </div>
        {{ end }}
    </div>
</div>