.c-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #A6038B30;
    color: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;

    &__modal {
        position: fixed;
        width: 70%;
        height: 80%;
        background-color: #1b1b1b;
        box-shadow: 0 0 30px 5px #efbae6;
        padding: 24px;
        border-radius: 10px;
        overflow: scroll;

        &__close {
            position: absolute;
            right: 26px;
            top: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            font-size: .75rem;
            background-color: #FFFFFF;
            color: #A6038B;
            border-radius: 50%;
            border: none;
            box-shadow: 0 0 20px 5px #A6038B;
            cursor: pointer;
            pointer-events: all;
        }

        &__content {
            &__hero {
                display: flex;
                flex-direction: column;
                gap: 16px;

                &__heading {
                    font-size: 1.75rem;
                    margin: 0;
                }

                &__links {
                    display: flex;
                    justify-content: space-between;
                    --badge-color: #A6038B;

                    &__bagdes {
                        display: flex;
                        gap: 16px;
                    }

                    &__project {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        i {
                            color: #afafaf;
                            font-size: 1.25rem;
                            transition: color 0.2s ease-in-out;
                        }
                        a:hover {
                            i {
                                color: #A6038B;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 768px) {
            &__content {
                &__hero {
                    &__heading {
                        font-size: 3.5rem;
                    }
                }
            }
        }
    }
}