.c-card {
    flex: 0 0 calc(100% - 34px);
    padding: 16px;
    border: 1px solid #afafaf30;
    position: relative;
    transition: .5s;
    cursor: pointer;
    display: grid;
    grid-template-rows: auto auto 100px 40px;

    &__open {
        position: absolute;
        right: 26px;
        top: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        font-size: .75rem;
        background-color: #FFFFFF;
        color: #A6038B;
        border-radius: 50%;
        border: none;
        box-shadow: 0 0 20px 5px #A6038B;
        cursor: pointer;
        pointer-events: all;
    }

    &__technologies {
        display: flex;
        gap: 16px;
    }

    &__heading {
        font-size: 1.75rem;
        margin: 1rem 0 0.75rem 0;
    }

    &:after, &:before {
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        z-index: 3;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        -webkit-transform: scale(0);
        transition: 0.75s;
        margin: -1px;
    }
    &:before {
        border-top: 2px solid #A6038B;
        border-left: 2px solid #A6038B;
        -webkit-transform-origin: top left;
    }
    &:after {
        border-bottom: 2px solid #A6038B;
        border-right: 2px solid #A6038B;
        -webkit-transform-origin: bottom right;
    }

    &:hover:after, &:hover:before {
        -webkit-transform: scale(1);
    }
    @media screen and (min-width: 480px) {
        flex: 0 0 calc(100% - 96px);
        margin: 0px 32px;
    }
    @media screen and (min-width: 768px) {
        margin: 0px 8px;
        flex: 0 0 calc(50% - 48px);
    }

    @media screen and (min-width: 1024px) {
        flex: 0 0 calc(33.34% - 48px);
    }
}