<div class="c-card" @click="showModal = true; page = '{{ .Path }}'">
    <span class="c-card__open"><i class="fa-solid fa-plus"></i></span>
    <img src="{{ .Params.thumbnail_image }}">
    <h3 class="c-card__heading">{{ .Title }}</h3>
    <p>{{ .Params.short_text }}</p>
    <div class="c-card__technologies">
        {{ range .Params.technologies }}
            {{ partial "bookshop" (slice "generic/technology-badge" (dict "text" .text "link" .link "linkable" false)) }}
        {{ end }}
    </div>
</div>